<div class="vl-table-wrapper-c">
    <h1>Table with fixed headings and columns</h1>


    <div class="th-fixed-table" id="demo">
        <div class="th-table-header">
            <div class="th-first-column-title">
                <h4>ASIDE</h4>
            </div>
            <header class="th-fixed-table-header">
                <table class="table table-bordered" [style.marginLeft]="marginLeft" >
                    <thead>
                    <tr>
                        <th>A</th>
                        <th>B</th>
                        <th>C</th>
                        <th>D</th>
                        <th>E</th>
                        <th>F</th>
                        <th>G</th>
                        <th>H</th>
                        <th>I</th>
                        <th>J</th>
                        <th>K</th>
                        <th>L</th>
                    </tr>
                    </thead>
                </table>
            </header>
        </div>

        <aside class="th-fixed-table-sidebar" >
            <table class="table table-bordered" [style.marginTop]="marginTop" >

                <tbody>
                <tr>
                    <td>main</td>
                </tr>
                <tr>
                    <td>2</td>
                </tr>
                <tr>
                    <td>3</td>
                </tr>
                <tr>
                    <td>4</td>
                </tr>
                <tr>
                    <td>5</td>
                </tr>
                <tr>
                    <td>6</td>
                </tr>
                <tr>
                    <td>7</td>
                </tr>
                <tr>
                    <td>8</td>
                </tr>
                <tr>
                    <td>9</td>
                </tr>
                <tr>
                    <td>10</td>
                </tr>
                <tr>
                    <td>11</td>
                </tr>
                <tr>
                    <td>12</td>
                </tr>
                <tr>
                    <td>13</td>
                </tr>
                <tr>
                    <td>14</td>
                </tr>
                <tr>
                    <td>15</td>
                </tr>
                <tr>
                    <td>16</td>
                </tr>
                <tr>
                    <td>17</td>
                </tr>

                </tbody>
            </table>
        </aside>
        <div  #scrollBody class="th-fixed-table-body">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td>a</td>
                    <td>b</td>
                    <td>c</td>
                    <td>d</td>
                    <td>e</td>
                    <td>f</td>
                    <td>g</td>
                    <td>h</td>
                    <td>i</td>
                    <td>j</td>
                    <td>k</td>
                    <td>l</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>b</td>
                    <td>c</td>
                    <td>d</td>
                    <td>e</td>
                    <td>f</td>
                    <td>g</td>
                    <td>h</td>
                    <td>i</td>
                    <td>j</td>
                    <td>k</td>
                    <td>l</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>b</td>
                    <td>c</td>
                    <td>d</td>
                    <td>e</td>
                    <td>f</td>
                    <td>g</td>
                    <td>h</td>
                    <td>i</td>
                    <td>j</td>
                    <td>k</td>
                    <td>l</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>b</td>
                    <td>c</td>
                    <td>d</td>
                    <td>e</td>
                    <td>f</td>
                    <td>g</td>
                    <td>h</td>
                    <td>i</td>
                    <td>j</td>
                    <td>k</td>
                    <td>l</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>b</td>
                    <td>c</td>
                    <td>d</td>
                    <td>e</td>
                    <td>f</td>
                    <td>g</td>
                    <td>h</td>
                    <td>i</td>
                    <td>j</td>
                    <td>k</td>
                    <td>l</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>b</td>
                    <td>c</td>
                    <td>d</td>
                    <td>e</td>
                    <td>f</td>
                    <td>g</td>
                    <td>h</td>
                    <td>i</td>
                    <td>j</td>
                    <td>k</td>
                    <td>l</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>b</td>
                    <td>c</td>
                    <td>d</td>
                    <td>e</td>
                    <td>f</td>
                    <td>g</td>
                    <td>h</td>
                    <td>i</td>
                    <td>j</td>
                    <td>k</td>
                    <td>l</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>b</td>
                    <td>c</td>
                    <td>d</td>
                    <td>e</td>
                    <td>f</td>
                    <td>g</td>
                    <td>h</td>
                    <td>i</td>
                    <td>j</td>
                    <td>k</td>
                    <td>l</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>b</td>
                    <td>c</td>
                    <td>d</td>
                    <td>e</td>
                    <td>f</td>
                    <td>g</td>
                    <td>h</td>
                    <td>i</td>
                    <td>j</td>
                    <td>k</td>
                    <td>l</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>b</td>
                    <td>c</td>
                    <td>d</td>
                    <td>e</td>
                    <td>f</td>
                    <td>g</td>
                    <td>h</td>
                    <td>i</td>
                    <td>j</td>
                    <td>k</td>
                    <td>l</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>b</td>
                    <td>c</td>
                    <td>d</td>
                    <td>e</td>
                    <td>f</td>
                    <td>g</td>
                    <td>h</td>
                    <td>i</td>
                    <td>j</td>
                    <td>k</td>
                    <td>l</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>b</td>
                    <td>c</td>
                    <td>d</td>
                    <td>e</td>
                    <td>f</td>
                    <td>g</td>
                    <td>h</td>
                    <td>i</td>
                    <td>j</td>
                    <td>k</td>
                    <td>l</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>b</td>
                    <td>c</td>
                    <td>d</td>
                    <td>e</td>
                    <td>f</td>
                    <td>g</td>
                    <td>h</td>
                    <td>i</td>
                    <td>j</td>
                    <td>k</td>
                    <td>l</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>b</td>
                    <td>c</td>
                    <td>d</td>
                    <td>e</td>
                    <td>f</td>
                    <td>g</td>
                    <td>h</td>
                    <td>i</td>
                    <td>j</td>
                    <td>k</td>
                    <td>l</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>b</td>
                    <td>c</td>
                    <td>d</td>
                    <td>e</td>
                    <td>f</td>
                    <td>g</td>
                    <td>h</td>
                    <td>i</td>
                    <td>j</td>
                    <td>k</td>
                    <td>l</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>b</td>
                    <td>c</td>
                    <td>d</td>
                    <td>e</td>
                    <td>f</td>
                    <td>g</td>
                    <td>h</td>
                    <td>i</td>
                    <td>j</td>
                    <td>k</td>
                    <td>l</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>b</td>
                    <td>c</td>
                    <td>d</td>
                    <td>e</td>
                    <td>f</td>
                    <td>g</td>
                    <td>h</td>
                    <td>i</td>
                    <td>j</td>
                    <td>k</td>
                    <td>l</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
