<div class="vl-lights-wrapper animated bounceInDown">
    <div class="vl-lights-c">

        <div class="vl-arcade-button sea" (click)="turnOnHalogenLight()">
            <div class="inner">
                <span class="text"><i class="fa fa-lightbulb-o fa-2x" aria-hidden="true"></i></span>
            </div>
        </div>

        <div class="vl-arcade-button red" (click)="toggleRGB()"><div class="inner"><span class="text"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></span></div></div>
    </div>

</div>
