@import "../../stylesheets/utilities/_variables";
@import "../../stylesheets/utilities/mixins";


  .vl-password-wrapper-c {
    @include set-size(100%, 100%, true, false);
    background: $color-light-blue-500;
    position: fixed;
    top: 0;
    left: 0;

    .vl-pen {
      $pen-size: 60px;
      $pen-radius: 3px;

      @include set-size(auto, $pen-size, true, false);
      @include set-position(absolute, 20px, auto, auto, 20px);
      @include border-radius($pen-radius);
      @include font-size(14px);
      @include transition(all .2s ease);
      text-indent: 70px;
      color: $white-color;
      font-weight: bolder;
      line-height: 35px;
      overflow: hidden;

      &:before {
        @include set-position(absolute, 0, auto, auto, 0);
        @include set-size($pen-size, $pen-size, true, false);
        @include border-radius($pen-radius);
        @include transition(all .2s ease);
        font-family: 'FontAwesome';
        content: '\f023';
        line-height: $pen-size;
        text-indent: 0;
        color: $color-light-blue-500;
        font-size: 250%;
        text-align: center;
        background: $white-color;
      }
    }

    .vl-random-password {
      @include set-size(230px, 50px, true, true);
      @include font-size(14px);
      background: $white-color;
      border: none;
      border-radius: 5px;
      outline: none;
      line-height: 50px;
      text-align: center;
      color: $color-light-blue-500;
      position: fixed;
      top: -webkit-calc( 50vh - 25px);
      left: -webkit-calc( 50vw - 135px);
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1),0 2px 10px 0 rgba(0,0,0,0.1);
      -webkit-transition: transform .15s cubic-bezier(.63, .15, .03, 1.32);
      padding-right: 15px;
    }

    .vl-reload-password {
      width: 30px;
      height: 30px;
      border: 2px solid #66A5FF;
      background: none;
      border-radius: 100%;
      outline: none;
      line-height: 50px;
      font-size: 30px;
      font-weight: bolder;
      text-align: center;
      color: #66A5FF;
      position: fixed;
      top: -webkit-calc( 50vh - 15px);
      left: -webkit-calc( 50vw + 65px);
      z-index: 10;
      cursor: pointer;
      transition: background .1s ease;

      &:hover {
        background: rgba(81, 153, 255, .10);
      }

      &:active {
        background: rgba(81, 153, 255, .20);
      }

      &:active ~ .vl-random-password {
        transform: scale3d(1.05, .9, 1);
      }
    }


  }




