@import "utilities/_variables";
@import "utilities/mixins";

/***/
.loader-wrapper{
  @include set-size(50px, 50px, true, false);
  @include set-position(absolute, 50%, auto, auto, 50%);
  @include transform(translate(-50%, -50%));

  .loader {
    @include set-size(50px, 50px, true, false);
    box-sizing: border-box;
    margin: -25px 0px 0px -25px;
    border-radius: 50%;
    border-top: solid 10px rgba(255, 255, 255, 1);
    border-right: solid 10px rgba(255, 255, 255, 0.5);
    border-bottom: solid 10px rgba(255, 255, 255, 0.5);
    border-left: solid 10px rgba(255, 255, 255, 0.5);
    animation: spin 0.5s infinite linear;
    -webkit-animation: spin 0.5s infinite linear;
  }
}

@keyframes spin {
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(360deg));
  }
}