<div class="vl-color-picker-grid animated fadeIn">
    <div (click)="setColorRGB('#ff0000')" class="vl-color-item red"></div>
    <div (click)="setColorRGB('#00ff00')" class="vl-color-item green"></div>
    <div (click)="setColorRGB('#0000ff')" class="vl-color-item blue"></div>
    <div (click)="setColorRGB('#F20FE3')" class="vl-color-item purple"></div>
    <div (click)="setColorRGB('#0FC9F2')" class="vl-color-item aquamarine"></div>
    <div (click)="setColorRGB('#1abc9c')" class="vl-color-item turquoise"></div>
    <div (click)="setColorRGB('#2ecc71')" class="vl-color-item emerland"></div>
    <div (click)="setColorRGB('#3498db')" class="vl-color-item peterriver"></div>
    <div (click)="setColorRGB('#9b59b6')" class="vl-color-item amethyst"></div>
    <div (click)="setColorRGB('#34495e')" class="vl-color-item wetasphalt"></div>
    <div (click)="setColorRGB('#16a085')" class="vl-color-item greensea"></div>
    <div (click)="setColorRGB('#27ae60')" class="vl-color-item nephritis"></div>
    <div (click)="setColorRGB('#2980b9')" class="vl-color-item belizehole"></div>
    <div (click)="setColorRGB('#8e44ad')" class="vl-color-item wisteria"></div>
    <div (click)="setColorRGB('#2c3e50')" class="vl-color-item midnightblue"></div>
    <div (click)="setColorRGB('#f1c40f')" class="vl-color-item sunflower"></div>
    <div (click)="setColorRGB('#e67e22')" class="vl-color-item carrot"></div>
    <div (click)="setColorRGB('#e74c3c')" class="vl-color-item alizarin"></div>
    <div (click)="setColorRGB('#ecf0f1')" class="vl-color-item clouds"></div>
    <div (click)="setColorRGB('#95a5a6')" class="vl-color-item concrete"></div>
    <div (click)="setColorRGB('#f39c12')" class="vl-color-item orange"></div>
    <div (click)="setColorRGB('#d35400')" class="vl-color-item pumpkin"></div>
    <div (click)="setColorRGB('#c0392b')" class="vl-color-item pomegranate"></div>
    <div (click)="setColorRGB('#bdc3c7')" class="vl-color-item silver"></div>
    <div (click)="setColorRGB('#7f8c8d')" class="vl-color-item asbestos"></div>
</div>