<div class="vl-home animated fadeIn">
    <ul class="vl-menu">
        <li>
            <a [routerLink]="'/password-generator'">
                <div class="vl-icons vl-lab-icon">New Developments </div>
            </a>
        </li>
        <li>
            <a [routerLink]="'/color-picker'">
                <div class="vl-icons vl-bars-icon">Color picker</div>
            </a>
        </li>
        <li>
            <a [routerLink]="'/lights'">
                <div class="vl-icons vl-bulb-icon">Turn On/Off lights</div>
            </a>
        </li>
        <li>
            <a [routerLink]="'/password-generator'">
                <div class="vl-icons vl-shield-icon">Password Generator</div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="vl-icons vl-toilet-icon">Test</div>
            </a>
        </li>
    </ul>
</div>